.main-raised-box{
    margin: auto;
    width: 1080px;
    box-shadow: 10px 10px 28px #888;
    border-radius: 25x;
    margin-top: 330px;
    background: #fff;
}

.aboutus{
  text-align: center;
  padding: 50px;
}

.propic{
  padding: 0px 50px 50px 50px;
}

.button{
  border-style: solid;
  border-width: 1px;
  font: black;
  text-decoration: none;
}

#banner{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
}