body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: background-color .5s;
}
.transparent{
  background-color: transparent !important;
}

.shop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  text-align: center;
}

.logo{
  position: absolute;
  top: 20%;
  left: 50%;
  transform:translate(-50%,-50%);
  text-align: center;
  z-index: 2;
}

.full-screen{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card{
  border: none;
}

.search-focus {
  background-color: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all .5s;
  border-radius: 5px;
  cursor: pointer;
}

.search-focus:focus {
  background-color: #fafafa;
  width: 300px;
  padding-left: 25px;
  cursor: inherit;
}

#searchicon{
  text-indent: -39px;
  pointer-events: none;
  color: rgba(255,255,255,.5);
  transition: all .5s;
}
.searchicon_focus{
  color: #333 !important;
}
.fav{
  cursor: pointer !important;
}

.nav{
  overflow: hidden;
}

.result{
  position: absolute;
}

.sidenav {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 75px;
    right: 0; 
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: none;
    z-index: 5;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
