.cont{
  position: relative;
  width: 100%;
}

.cont .shop_now{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  text-align: center;
}

.newsletter{
  text-align: left;
}

.privacy{
  font-size:12px;
  padding-left: 5%;
  width: 100%;
}
